@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 20px;
      height: 7px;
      left: 100px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;

    }
  
    .scrollbar::-webkit-scrollbar-thumb {
        
      background: #868686;
      border-radius: 100vh;

    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #bbbbbb;
    }
  }
  
.background-image{
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.6;
  /* filter: blur(8px); */

  background-position: center 25%;
}